<header>
    <nav></nav>
  </header>
  <main class="main-container">
    <header class="header">
      <div class="hero-bg"></div>
      <div class="hero-action">
        <!-- <h2 class="h2">Digital product innovation</h2> -->
        <h1 class="h1">Digital innovation</h1>
        <h4 class="h4">
          Pattware is a software development & consulting company. We turn customer dreams into cutting edge IT products.
        </h4>
        <div class="btn-container">
          <button mat-button class="button-text green-white-btn">Get in touch</button>
          <button mat-button class="button-text white-purple-btn">request a proposal</button>
        </div>
        
      </div>
      <img class="hero-img" src="./../assets/images/hero2.png">
    </header>
  </main>