<header>
  <nav></nav>
</header>
<main class="main-container">
  <header class="header">
    <div class="hero-bg"></div>
    <div class="hero-action">
      <h1 class="h1">Lorem ipsum</h1>
      <h4 class="h4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </h4>
      <div class="btn-container">
        <button mat-button class="button-text green-white-btn">Get in touch</button>
        <button mat-button class="button-text white-purple-btn">calculate price</button>
      </div>
      
    </div>
    <img class="hero-img" src="./../assets/images/hero2.png">
  </header>
</main>

